#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# Byte compiled python modules.
*.pyc
# vim swap files
.*.sw?
.sw?
#OS X specific files.
.DS_store

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
# Various tag programs
/tags
/TAGS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
.gitusers
autom4te.cache
cscope.files
cscope.out
autoconf/aclocal.m4
autoconf/autom4te.cache
/compile_commands.json

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# External projects that are tracked independently.
projects/*
!projects/*.*
!projects/libcxx
!projects/Makefile
runtimes/*
!runtimes/*.*
# Clang, which is tracked independently.
tools/clang
# LLDB, which is tracked independently.
tools/lldb
# lld, which is tracked independently.
tools/lld
# llgo, which is tracked independently.
tools/llgo
# Polly, which is tracked independently.
tools/polly
# Sphinx build tree, if building in-source dir.
docs/_build

#==============================================================================#
# Files created in tree by the Go bindings.
#==============================================================================#
bindings/go/llvm/llvm_config.go
bindings/go/llvm/workdir

#==============================================================================#
# Build files.
#==============================================================================#
/bindings/ocaml/all_backends/Release+Asserts/
/bindings/ocaml/analysis/Release+Asserts/
/bindings/ocaml/backends/Makefile.AArch64
/bindings/ocaml/backends/Makefile.ARM
/bindings/ocaml/backends/Makefile.CppBackend
/bindings/ocaml/backends/Makefile.Hexagon
/bindings/ocaml/backends/Makefile.Mips
/bindings/ocaml/backends/Makefile.MSP430
/bindings/ocaml/backends/Makefile.NVPTX
/bindings/ocaml/backends/Makefile.PowerPC
/bindings/ocaml/backends/Makefile.R600
/bindings/ocaml/backends/Makefile.Sparc
/bindings/ocaml/backends/Makefile.SystemZ
/bindings/ocaml/backends/Makefile.X86
/bindings/ocaml/backends/Makefile.XCore
/bindings/ocaml/backends/Release+Asserts/
/bindings/ocaml/bitreader/Release+Asserts/
/bindings/ocaml/bitwriter/Release+Asserts/
/bindings/ocaml/executionengine/Release+Asserts/
/bindings/ocaml/irreader/Release+Asserts/
/bindings/ocaml/linker/Release+Asserts/
/bindings/ocaml/llvm/META.llvm
/bindings/ocaml/llvm/Release+Asserts/
/bindings/ocaml/target/Release+Asserts/
/bindings/ocaml/transforms/ipo/Release+Asserts/
/bindings/ocaml/transforms/passmgr_builder/Release+Asserts/
/bindings/ocaml/transforms/scalar/Release+Asserts/
/bindings/ocaml/transforms/vectorize/Release+Asserts/
/build
/cmake/modules/LLVMBuildExports.cmake
/cmake/modules/LLVMConfig.cmake
/cmake/modules/LLVMConfigVersion.cmake
/cmake/modules/LLVMExports.cmake
/config.log
/config.status
/docs/doxygen.cfg
/include/llvm/Config/AsmParsers.def
/include/llvm/Config/AsmPrinters.def
/include/llvm/Config/config.h
/include/llvm/Config/Disassemblers.def
/include/llvm/Config/llvm-config.h
/include/llvm/Config/Targets.def
/include/llvm/IR/.dir
/include/llvm/IR/Intrinsics.gen
/include/llvm/Support/DataTypes.h
/lib/Analysis/IPA/Release+Asserts/
/lib/Analysis/Release+Asserts/
/lib/AsmParser/Release+Asserts/
/lib/Bitcode/Reader/Release+Asserts/
/lib/Bitcode/Writer/Release+Asserts/
/lib/CodeGen/AsmPrinter/Release+Asserts/
/lib/CodeGen/Release+Asserts/
/lib/CodeGen/SelectionDAG/Release+Asserts/
/lib/DebugInfo/Release+Asserts/
/lib/ExecutionEngine/Interpreter/Release+Asserts/
/lib/ExecutionEngine/MCJIT/Release+Asserts/
/lib/ExecutionEngine/Release+Asserts/
/lib/ExecutionEngine/RuntimeDyld/Release+Asserts/
/lib/IR/Release+Asserts/
/lib/IRReader/Release+Asserts/
/lib/LineEditor/Release+Asserts/
/lib/Linker/Release+Asserts/
/lib/LTO/Release+Asserts/
/lib/MC/MCDisassembler/Release+Asserts/
/lib/MC/MCParser/Release+Asserts/
/lib/MC/Release+Asserts/
/lib/Object/Release+Asserts/
/lib/Option/Release+Asserts/
/lib/ProfileData/Release+Asserts/
/lib/Support/Release+Asserts/
/lib/TableGen/Release+Asserts/
/lib/Target/AArch64/AArch64GenAsmMatcher.inc
/lib/Target/AArch64/AArch64GenAsmWriter.inc
/lib/Target/AArch64/AArch64GenAsmWriter1.inc
/lib/Target/AArch64/AArch64GenCallingConv.inc
/lib/Target/AArch64/AArch64GenDAGISel.inc
/lib/Target/AArch64/AArch64GenDisassemblerTables.inc
/lib/Target/AArch64/AArch64GenFastISel.inc
/lib/Target/AArch64/AArch64GenInstrInfo.inc
/lib/Target/AArch64/AArch64GenMCCodeEmitter.inc
/lib/Target/AArch64/AArch64GenMCPseudoLowering.inc
/lib/Target/AArch64/AArch64GenRegisterInfo.inc
/lib/Target/AArch64/AArch64GenSubtargetInfo.inc
/lib/Target/AArch64/AsmParser/Release+Asserts/
/lib/Target/AArch64/Disassembler/Release+Asserts/
/lib/Target/AArch64/InstPrinter/Release+Asserts/
/lib/Target/AArch64/MCTargetDesc/Release+Asserts/
/lib/Target/AArch64/Release+Asserts/
/lib/Target/AArch64/TargetInfo/Release+Asserts/
/lib/Target/AArch64/Utils/Release+Asserts/
/lib/Target/ARM/ARMGenAsmMatcher.inc
/lib/Target/ARM/ARMGenAsmWriter.inc
/lib/Target/ARM/ARMGenCallingConv.inc
/lib/Target/ARM/ARMGenDAGISel.inc
/lib/Target/ARM/ARMGenDisassemblerTables.inc
/lib/Target/ARM/ARMGenFastISel.inc
/lib/Target/ARM/ARMGenInstrInfo.inc
/lib/Target/ARM/ARMGenMCCodeEmitter.inc
/lib/Target/ARM/ARMGenMCPseudoLowering.inc
/lib/Target/ARM/ARMGenRegisterInfo.inc
/lib/Target/ARM/ARMGenSubtargetInfo.inc
/lib/Target/ARM/AsmParser/Release+Asserts/
/lib/Target/ARM/Disassembler/Release+Asserts/
/lib/Target/ARM/InstPrinter/Release+Asserts/
/lib/Target/ARM/MCTargetDesc/Release+Asserts/
/lib/Target/ARM/Release+Asserts/
/lib/Target/ARM/TargetInfo/Release+Asserts/
/lib/Target/CppBackend/Release+Asserts/
/lib/Target/CppBackend/TargetInfo/Release+Asserts/
/lib/Target/Hexagon/Disassembler/Release+Asserts/
/lib/Target/Hexagon/HexagonGenAsmWriter.inc
/lib/Target/Hexagon/HexagonGenCallingConv.inc
/lib/Target/Hexagon/HexagonGenDAGISel.inc
/lib/Target/Hexagon/HexagonGenDFAPacketizer.inc
/lib/Target/Hexagon/HexagonGenDisassemblerTables.inc
/lib/Target/Hexagon/HexagonGenInstrInfo.inc
/lib/Target/Hexagon/HexagonGenMCCodeEmitter.inc
/lib/Target/Hexagon/HexagonGenRegisterInfo.inc
/lib/Target/Hexagon/HexagonGenSubtargetInfo.inc
/lib/Target/Hexagon/InstPrinter/Release+Asserts/
/lib/Target/Hexagon/MCTargetDesc/Release+Asserts/
/lib/Target/Hexagon/Release+Asserts/
/lib/Target/Hexagon/TargetInfo/Release+Asserts/
/lib/Target/Mips/AsmParser/Release+Asserts/
/lib/Target/Mips/Disassembler/Release+Asserts/
/lib/Target/Mips/InstPrinter/Release+Asserts/
/lib/Target/Mips/MCTargetDesc/Release+Asserts/
/lib/Target/Mips/MipsGenAsmMatcher.inc
/lib/Target/Mips/MipsGenAsmWriter.inc
/lib/Target/Mips/MipsGenCallingConv.inc
/lib/Target/Mips/MipsGenDAGISel.inc
/lib/Target/Mips/MipsGenDisassemblerTables.inc
/lib/Target/Mips/MipsGenFastISel.inc
/lib/Target/Mips/MipsGenInstrInfo.inc
/lib/Target/Mips/MipsGenMCCodeEmitter.inc
/lib/Target/Mips/MipsGenMCPseudoLowering.inc
/lib/Target/Mips/MipsGenRegisterInfo.inc
/lib/Target/Mips/MipsGenSubtargetInfo.inc
/lib/Target/Mips/Release+Asserts/
/lib/Target/Mips/TargetInfo/Release+Asserts/
/lib/Target/MSP430/InstPrinter/Release+Asserts/
/lib/Target/MSP430/MCTargetDesc/Release+Asserts/
/lib/Target/MSP430/MSP430GenAsmWriter.inc
/lib/Target/MSP430/MSP430GenCallingConv.inc
/lib/Target/MSP430/MSP430GenDAGISel.inc
/lib/Target/MSP430/MSP430GenInstrInfo.inc
/lib/Target/MSP430/MSP430GenRegisterInfo.inc
/lib/Target/MSP430/MSP430GenSubtargetInfo.inc
/lib/Target/MSP430/Release+Asserts/
/lib/Target/MSP430/TargetInfo/Release+Asserts/
/lib/Target/NVPTX/InstPrinter/Release+Asserts/
/lib/Target/NVPTX/MCTargetDesc/Release+Asserts/
/lib/Target/NVPTX/NVPTXGenAsmWriter.inc
/lib/Target/NVPTX/NVPTXGenDAGISel.inc
/lib/Target/NVPTX/NVPTXGenInstrInfo.inc
/lib/Target/NVPTX/NVPTXGenRegisterInfo.inc
/lib/Target/NVPTX/NVPTXGenSubtargetInfo.inc
/lib/Target/NVPTX/Release+Asserts/
/lib/Target/NVPTX/TargetInfo/Release+Asserts/
/lib/Target/PowerPC/AsmParser/Release+Asserts/
/lib/Target/PowerPC/Disassembler/Release+Asserts/
/lib/Target/PowerPC/InstPrinter/Release+Asserts/
/lib/Target/PowerPC/MCTargetDesc/Release+Asserts/
/lib/Target/PowerPC/PPCGenAsmMatcher.inc
/lib/Target/PowerPC/PPCGenAsmWriter.inc
/lib/Target/PowerPC/PPCGenCallingConv.inc
/lib/Target/PowerPC/PPCGenDAGISel.inc
/lib/Target/PowerPC/PPCGenDisassemblerTables.inc
/lib/Target/PowerPC/PPCGenFastISel.inc
/lib/Target/PowerPC/PPCGenInstrInfo.inc
/lib/Target/PowerPC/PPCGenMCCodeEmitter.inc
/lib/Target/PowerPC/PPCGenRegisterInfo.inc
/lib/Target/PowerPC/PPCGenSubtargetInfo.inc
/lib/Target/PowerPC/Release+Asserts/
/lib/Target/PowerPC/TargetInfo/Release+Asserts/
/lib/Target/R600/AMDGPUGenAsmWriter.inc
/lib/Target/R600/AMDGPUGenCallingConv.inc
/lib/Target/R600/AMDGPUGenDAGISel.inc
/lib/Target/R600/AMDGPUGenDFAPacketizer.inc
/lib/Target/R600/AMDGPUGenInstrInfo.inc
/lib/Target/R600/AMDGPUGenIntrinsics.inc
/lib/Target/R600/AMDGPUGenMCCodeEmitter.inc
/lib/Target/R600/AMDGPUGenRegisterInfo.inc
/lib/Target/R600/AMDGPUGenSubtargetInfo.inc
/lib/Target/R600/InstPrinter/Release+Asserts/
/lib/Target/R600/MCTargetDesc/Release+Asserts/
/lib/Target/R600/Release+Asserts/
/lib/Target/R600/TargetInfo/Release+Asserts/
/lib/Target/Release+Asserts/
/lib/Target/Sparc/AsmParser/Release+Asserts/
/lib/Target/Sparc/Disassembler/Release+Asserts/
/lib/Target/Sparc/InstPrinter/Release+Asserts/
/lib/Target/Sparc/MCTargetDesc/Release+Asserts/
/lib/Target/Sparc/Release+Asserts/
/lib/Target/Sparc/SparcGenAsmMatcher.inc
/lib/Target/Sparc/SparcGenAsmWriter.inc
/lib/Target/Sparc/SparcGenCallingConv.inc
/lib/Target/Sparc/SparcGenDAGISel.inc
/lib/Target/Sparc/SparcGenDisassemblerTables.inc
/lib/Target/Sparc/SparcGenInstrInfo.inc
/lib/Target/Sparc/SparcGenMCCodeEmitter.inc
/lib/Target/Sparc/SparcGenRegisterInfo.inc
/lib/Target/Sparc/SparcGenSubtargetInfo.inc
/lib/Target/Sparc/TargetInfo/Release+Asserts/
/lib/Target/SystemZ/AsmParser/Release+Asserts/
/lib/Target/SystemZ/Disassembler/Release+Asserts/
/lib/Target/SystemZ/InstPrinter/Release+Asserts/
/lib/Target/SystemZ/MCTargetDesc/Release+Asserts/
/lib/Target/SystemZ/Release+Asserts/
/lib/Target/SystemZ/SystemZGenAsmMatcher.inc
/lib/Target/SystemZ/SystemZGenAsmWriter.inc
/lib/Target/SystemZ/SystemZGenCallingConv.inc
/lib/Target/SystemZ/SystemZGenDAGISel.inc
/lib/Target/SystemZ/SystemZGenDisassemblerTables.inc
/lib/Target/SystemZ/SystemZGenInstrInfo.inc
/lib/Target/SystemZ/SystemZGenMCCodeEmitter.inc
/lib/Target/SystemZ/SystemZGenRegisterInfo.inc
/lib/Target/SystemZ/SystemZGenSubtargetInfo.inc
/lib/Target/SystemZ/TargetInfo/Release+Asserts/
/lib/Target/X86/AsmParser/Release+Asserts/
/lib/Target/X86/Disassembler/Release+Asserts/
/lib/Target/X86/InstPrinter/Release+Asserts/
/lib/Target/X86/MCTargetDesc/Release+Asserts/
/lib/Target/X86/Release+Asserts/
/lib/Target/X86/TargetInfo/Release+Asserts/
/lib/Target/X86/Utils/Release+Asserts/
/lib/Target/X86/X86GenAsmMatcher.inc
/lib/Target/X86/X86GenAsmWriter.inc
/lib/Target/X86/X86GenAsmWriter1.inc
/lib/Target/X86/X86GenCallingConv.inc
/lib/Target/X86/X86GenDAGISel.inc
/lib/Target/X86/X86GenDisassemblerTables.inc
/lib/Target/X86/X86GenFastISel.inc
/lib/Target/X86/X86GenInstrInfo.inc
/lib/Target/X86/X86GenRegisterInfo.inc
/lib/Target/X86/X86GenSubtargetInfo.inc
/lib/Target/XCore/Disassembler/Release+Asserts/
/lib/Target/XCore/InstPrinter/Release+Asserts/
/lib/Target/XCore/MCTargetDesc/Release+Asserts/
/lib/Target/XCore/Release+Asserts/
/lib/Target/XCore/TargetInfo/Release+Asserts/
/lib/Target/XCore/XCoreGenAsmWriter.inc
/lib/Target/XCore/XCoreGenCallingConv.inc
/lib/Target/XCore/XCoreGenDAGISel.inc
/lib/Target/XCore/XCoreGenDisassemblerTables.inc
/lib/Target/XCore/XCoreGenInstrInfo.inc
/lib/Target/XCore/XCoreGenRegisterInfo.inc
/lib/Target/XCore/XCoreGenSubtargetInfo.inc
/lib/Transforms/Hello/Release+Asserts/
/lib/Transforms/InstCombine/Release+Asserts/
/lib/Transforms/Instrumentation/Release+Asserts/
/lib/Transforms/IPO/Release+Asserts/
/lib/Transforms/MemoryCounter/mod
/lib/Transforms/MemoryCounter/Release+Asserts/
/lib/Transforms/ObjCARC/Release+Asserts/
/lib/Transforms/Scalar/Release+Asserts/
/lib/Transforms/Utils/Release+Asserts/
/lib/Transforms/Vectorize/Release+Asserts/
/llvm.spec
/LLVMBuild.cmake
/Makefile.config
/Makefile.llvmbuild
/Release+Asserts/
/tools/bugpoint-passes/Release+Asserts/
/tools/bugpoint/Release+Asserts/
/tools/llc/Release+Asserts/
/tools/lli/ChildTarget/.dir
/tools/lli/ChildTarget/Release+Asserts/
/tools/lli/ChildTarget/RemoteTarget.d
/tools/lli/ChildTarget/RemoteTarget.o
/tools/lli/Release+Asserts/
/tools/llvm-ar/Release+Asserts/
/tools/llvm-as/Release+Asserts/
/tools/llvm-bcanalyzer/Release+Asserts/
/tools/llvm-c-test/Release+Asserts/
/tools/llvm-config/LibraryDependencies.inc
/tools/llvm-config/Release+Asserts/
/tools/llvm-cov/Release+Asserts/
/tools/llvm-diff/Release+Asserts/
/tools/llvm-dis/Release+Asserts/
/tools/llvm-dwarfdump/Release+Asserts/
/tools/llvm-extract/Release+Asserts/
/tools/llvm-link/Release+Asserts/
/tools/llvm-lto/Release+Asserts/
/tools/llvm-mc/Release+Asserts/
/tools/llvm-mcmarkup/Release+Asserts/
/tools/llvm-nm/Release+Asserts/
/tools/llvm-objdump/Release+Asserts/
/tools/llvm-profdata/Release+Asserts/
/tools/llvm-readobj/Release+Asserts/
/tools/llvm-rtdyld/Release+Asserts/
/tools/llvm-size/Release+Asserts/
/tools/llvm-stress/Release+Asserts/
/tools/llvm-symbolizer/Release+Asserts/
/tools/llvm-vtabledump/Release+Asserts/
/tools/lto/Release+Asserts/
/tools/macho-dump/Release+Asserts/
/tools/obj2yaml/Release+Asserts/
/tools/opt/Release+Asserts/
/tools/verify-uselistorder/Release+Asserts/
/tools/yaml2obj/Release+Asserts/
/unittests/ADT/Release+Asserts/
/unittests/Analysis/Release+Asserts/
/unittests/Bitcode/Release+Asserts/
/unittests/CodeGen/Release+Asserts/
/unittests/DebugInfo/Release+Asserts/
/unittests/ExecutionEngine/MCJIT/Release+Asserts/
/unittests/ExecutionEngine/Release+Asserts/
/unittests/IR/Release+Asserts/
/unittests/LineEditor/Release+Asserts/
/unittests/Linker/Release+Asserts/
/unittests/MC/Release+Asserts/
/unittests/Option/Opts.inc
/unittests/Option/Release+Asserts/
/unittests/Support/Release+Asserts/
/unittests/Transforms/DebugIR/Release+Asserts/
/unittests/Transforms/Utils/Release+Asserts/
/utils/count/Release+Asserts/
/utils/FileCheck/Release+Asserts/
/utils/fpcmp/Release+Asserts/
/utils/not/Release+Asserts/
/utils/PerfectShuffle/Release+Asserts/
/utils/TableGen/Release+Asserts/
/utils/unittest/googletest/Release+Asserts/
/utils/unittest/UnitTestMain/Release+Asserts/
